[submodule "target/lib/forge-std"]
	path = target/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/lib/forge-std"]
	path = eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/lib/openzeppelin-contracts"]
	path = eth/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "target/lib/aave-v3-core"]
	path = target/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
